<app>
	<configs>
		<config key="server" env="dev" value=""/>
		<config key="server" env="tdev" value=""/>
		<config key="server" env="product" value=""/>
		<config key="rpapi" env="dev" value="http://218.70.37.217:28769"/>
		<config key="rpapi" env="tdev" value="http://218.70.37.217:28769"/>
		<!--<config key="rpapi" env="dev" value="http://test.fastepay.cn"/>-->
		<!--<config key="rpapi" env="tdev" value="http://test.fastepay.cn"/>-->
		<config key="rpapi" env="product" value="http://218.70.37.217:28769"/>
	</configs>
	<pages>
		<page dir="index"/>
		<page dir="workbench"/>
		<page dir="login"/>
		<page dir="home"/>

		<page dir="accident"/><!--事故列表-->
		<page dir="accident/history"/><!--历史事故列表-->
		<page dir="accident/history/map"/><!--已处理历史事故列表-->
		<page dir="accident/history/processed"/><!--已处理历史事故列表-->
		<page dir="accident/comment"/><!--一般事故列表-->
		<page dir="accident/detail"/><!--事故详情-->
		<page dir="accident/detail1"/><!--事故详情验证码-->
		<page dir="accident/pdf"/><!--pdf显示-->

		<page dir="user/index"/><!--个人中心-->
		<page dir="user/info"/><!--用户信息-->
		<page dir="user/updatepassword"/><!--更改密码-->
		<page dir="user/feedback"/><!--意见反馈-->
		<page dir="user/use"/><!--使用说明-->
		<page dir="user/info/update"/><!--个人信息修改-->

		<!--事故处理-->
		<page dir="handle/remind"/><!--温馨提醒-->
		<page dir="handle/remind2"/><!--挪车提醒-->
		<page dir="handle/type"/><!--选择类型-->
		<page dir="handle/shot"/><!--拍摄照片-->
		<page dir="handle/shot/detail"/><!--拍摄照片-->
		<page dir="handle/shot1"/><!--拍摄照片-->
		<page dir="handle/shot1/detail"/><!--拍摄照片-->
		<page dir="handle/desc"/><!--事故描述-->
		<page dir="handle/desc/update"/><!--事故地址手动输入-->
		<page dir="handle/desc/map"/><!--事故地址手动输入-->
		<page dir="handle/information"/><!--信息采集-->
		<page dir="handle/information/create"/><!--信息采集-->
		<page dir="handle/information/list"/><!--保险列表-->
		<page dir="handle/information/list1"/><!--车牌列表-->
		<page dir="handle/duty"/><!--事故定责-->
		<page dir="handle/duty/accident"/><!--事故选择-->
		<page dir="handle/duty/detail"/><!--事故详细-->
		<page dir="handle/responsibility"/><!--生成责任书-->
		<page dir="handle/responsibility/template"/><!--调解模版-->


		<page dir="search/list"/><!--信息查询列表-->
		<page dir="search/list1"/><!--信息查询列表-->
		<page dir="search/detail"/><!--信息查询列表-->
		<page dir="search/detail/evidences"/><!--信息查询列表-->
		<page dir="search/detail/parties"/><!--信息查询列表-->
		<page dir="search/detail1"/><!--信息查询列表-->
	</pages>

	<dataqls>
		<!--<dataql key="bannerList" from="controller" ql="banner.list" dataType="dataList" />-->
		<!--<dataql key="articleList" from="controller" ql="article.list" dataType="dataPageList" />-->

		<dataql key="memberLogin" from="controller" ql="api.login" dataType="data"/><!--登录-->
		<dataql key="memberLogout" from="controller" ql="api.logout" dataType="data"/><!--退出登录-->
		<dataql key="updatePassword" from="controller" ql="police.updatePassword" dataType="data"/><!--修改密码-->
		<dataql key="policeInfo" from="controller" ql="police.policeInfo" dataType="data"/><!--警察信息-->

		<dataql key="apiTest" from="controller" ql="api.test" dataType="data"/>
		<dataql key="getHistory" from="controller" ql="api.getHistory" dataType="data"/>

		<dataql key="handleAccident" from="controller" ql="handle.accident" dataType="data"/><!--事故详情-->
		<dataql key="handleReport" from="controller" ql="handle.report" dataType="data"/><!--基础数据填报(创建事故第一步)-->
		<dataql key="handleTemplateGet" from="controller" ql="handle.templateGet" dataType="data"/><!--事故模版获取-->
		<dataql key="handleSubmitevidence" from="controller" ql="handle.submitevidence" dataType="data"/><!--事故证据提交-->
		<dataql key="handleSaveParty" from="controller" ql="handle.saveParty" dataType="data"/><!--事故逐个录入当事人-->
		<dataql key="handleRemoveParty" from="controller" ql="handle.removeParty" dataType="data"/><!--移除当事人-->
		<dataql key="handleConfirmConsultation" from="controller" ql="handle.confirmConsultation" dataType="data"/><!--事故当事人-->
		<dataql key="handleCognizance" from="controller" ql="handle.cognizance" dataType="data"/><!--生成事故责任书-->
		<dataql key="handleSendToParty" from="controller" ql="handle.sendToParty" dataType="data"/><!--推送事故给当事人-->
		<dataql key="handleSend" from="controller" ql="handle.send" dataType="data"/><!--事故给当事人发送验证码-->
		<dataql key="handleSendOnly" from="controller" ql="handle.sendOnly" dataType="data"/><!--发送验证码-->
		<dataql key="handleVerificAndPhone" from="controller" ql="handle.verificAndPhone" dataType="data"/><!--验证码比对-->
		<dataql key="handleResponsibilityPDF" from="controller" ql="handle.responsibilityPDF" dataType="data"/><!--生成事故责任书PDF-->
		<dataql key="handleMoveCare" from="controller" ql="handle.moveCare" dataType="data"/><!--挪车-->
		<dataql key="handleAccidentType" from="controller" ql="handle.accidentType" dataType="data"/><!--事故情形-->
		<dataql key="driverLicenseState" from="controller" ql="handle.driverLicenseState" dataType="data"/><!--驾驶证状态-->
		<dataql key="handleQueryAll" from="controller" ql="handle.queryAll" dataType="data"/><!--保险公司-->
		<dataql key="handleCarInfo" from="controller" ql="handle.carInfo" dataType="data"/><!--根据车牌号获取车辆信息-->
		<dataql key="handleDriverInfo" from="controller" ql="handle.driverInfo" dataType="data"/><!--根据身份证获取信息-->
		<dataql key="handleRefused" from="controller" ql="handle.refused" dataType="data"/><!--用户拒绝-->
		<dataql key="handleComfirm" from="controller" ql="handle.comfirm" dataType="data"/><!--用户确认-->
		<dataql key="handlePartyComfirm" from="controller" ql="handle.partyComfirm" dataType="data"/><!--用户确认-->

		<dataql key="accidentHistoryGetAll" from="controller" ql="accident.historyGetAll" dataType="dataList"/><!--已处理历史事故列表-->
		<dataql key="accidentHistoryCondition" from="controller" ql="accident.historyCondition" dataType="data"/><!--已处理历史事故列表-->
		<dataql key="accidentHistoryProcessed" from="controller" ql="accident.historyProcessed" dataType="dataList"/><!--已处理历史事故列表-->
		<dataql key="accidentSearchList" from="controller" ql="accident.searchList" dataType="dataList"/><!--已处理历史事故列表-->
		<dataql key="accidentDetail" from="controller" ql="accident.obtain" dataType="data"/><!--获取案件详情-->


		<dataql key="handlePlateType" from="controller" ql="handle.plateType" dataType="data"/><!--事故车牌类型-->
		<dataql key="handleRoad" from="controller" ql="handle.road" dataType="data"/><!--获取高速路段-->

	</dataqls>
</app>